{"filter":false,"title":".editorconfig","tooltip":"/.editorconfig","undoManager":{"mark":1,"position":1,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":13,"column":15},"action":"insert","lines":["# editorconfig.org","","root = true","","[*]","charset = utf-8","end_of_line = lf","indent_size = 2","indent_style = space","insert_final_newline = true","trim_trailing_whitespace = true","","[*.py]","indent_size = 4"]}]}],[{"group":"doc","deltas":[{"start":{"row":13,"column":15},"end":{"row":14,"column":0},"action":"insert","lines":["",""]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":14,"column":0},"end":{"row":14,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"a5278426b6c9601d07e8e2bafa6e39eabc2f2004","timestamp":1424105988000}