{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":0},"end":{"row":10,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"b59687ec973098e52b0e29de9215d89272c39281","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":1,"column":11},"action":"remove","lines":["_site",".sass-cache"]},{"start":{"row":0,"column":0},"end":{"row":24,"column":13},"action":"insert","lines":["*.gem","*.rbc",".bundle",".config",".yardoc","Gemfile.lock","InstalledFiles","_yardoc","coverage","doc/","lib/bundler/man","pkg","rdoc","spec/reports","test/tmp","test/version_tmp","tmp",".sass-cache",".code-highlighter-cache",".DS_Store","_site","test/_drafts","test/_templates","test/_posts","test/_layouts"]}]}]]},"timestamp":1423354862000}